.header {
    background-color: #F6F6F7;
    height: 30px;
    margin: 0 30px 50px;
}

.product-details {
    display: flex;
    max-width: 1000px;
    align-content: center;
    margin: 0 auto;
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 500px;
}

.product-detail {
    padding-left: 100px;
    min-width: 500px;
}

.product-image img {
    max-width: 400px;
}

.product-name {
    font-size: 16pt;
    color: #222222;
    padding-bottom: 10px;
}

.product-price {
    font-weight: bold;
    font-size: 11pt;
    color: #222222;
}

.product-explaination {
    font-size: 10pt;
    color: #888888;
    line-height: 1.7;
    padding-top: 10px;
}

.size-box {
    display: inline-block;
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
}

.selected-size {
    display: block;
}

.options-overlay {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 1;
}

.option {
    display: block;
    padding: 5px 10px;
    cursor: pointer;
}

body {
    font-family: "Arial", sans-serif;
}

hr {
    height: 1px;
    border: none;
    background-color: #f8f8f8;
}